.header {
    padding: 64px 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    .wrapper {
        display: grid;
        grid-template-columns: .74fr 690px 1fr;

        @include desktop {
            grid-template-columns: .3fr 2fr .7fr;
        }
    }

    .socials--header {
        justify-self: end;
    }
}