.header {
    padding: 64px 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    .wrapper {
        display: grid;
        grid-template-columns: .75fr 690px 1fr;
    }

    .socials--header {
        justify-self: end;
    }
}