script(type="text/x-template")#reviews-list
    .wrapper
        h2.reviews__title.title Что обо мне говорят
        .reviews__controls-wrapper
            btns(
                @changeReview="handleSlide"
            )
        ul.reviews__comment-list
            flickity(ref="flickity" :options="flickityOptions")
                li.reviews__comment-item(v-for="review in reviews")
                    oneReview(
                        :review="review"
                    )


script(type="text/x-template")#btns
    .reviews__controls
        button.reviews__control-next(type='button' @click="changeReview('next')")
            +icon('arrow-down', 'reviews__control-icon')
        button.reviews__control-prev(type='button' @click="changeReview('prev')")
            +icon('arrow-down', 'reviews__control-icon')


script(type="text/x-template")#review
    .reviews__comment-inner
        +icon('quote', 'reviews__comment-icon')
        .reviews__comment-text.text {{review.comment}}
        .reviews__comment-sender
            .reviews__comment-avatar
                img(:src="review.avatar")
            .reviews__comment-sender-info
                .reviews__comment-sender-name.text {{review.name}}
                .reviews__comment-sender-position.text {{review.position}}