section.skills
    .wrapper
        .skills__hero
            h2.skills__title.title Чем я могу быть полезен вам
            p.skills__decription.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                                    | Чуть позже я освежу в нём свой контент. А пока посмотрите,
                                    | как тут всё классно и красиво!
        #skills-container